.osf_chaptertime {
    float: left;
    margin-right: 5px;
    font-family: monospace;
    font-weight: 300;
    font-size: 13px;
    margin-top: 2px;
    cursor: default !important;
}
.osf_chapterbox {
    margin-top: 7px;
    margin-bottom: 23px;
}
.osf_chaptertime, .osf_chapter {
    font-size: large;
}
.osf_items .osf_substart::before { content: '(' }
.osf_amazon.osf_substart::before,
.osf_applecom.osf_substart::before,
.osf_flattr.osf_substart::before,
.osf_twitter.osf_substart::before,
.osf_wiki.osf_substart::before,
.osf_youtube.osf_substart::before,
.osf_youtubecom.osf_substart::before,
.osf_youtu.be.osf_substart::before,
.osf_glossary.osf_substart::before,
.osf_amazonde.osf_substart::before,
.osf_amazoncom.osf_substart::before,
.osf_video.osf_substart::before,
.osf_esaint.osf_substart::before,
.osf_dlrde.osf_substart::before,
.osf_githubcom.osf_substart::before,
.osf_imdbcom.osf_substart::before,
.osf_quote.osf_substart::before,
.osf_podcast.osf_substart::before {
    content: '(';
    margin-left: 5px;
    margin-right: 0px;
    padding-right: 0px;
}
.osf_amazon.osf_substart::after,
.osf_applecom.osf_substart::after,
.osf_flattr.osf_substart::after,
.osf_twitter.osf_substart::after,
.osf_wiki.osf_substart::after,
.osf_youtube.osf_substart::after,
.osf_youtubecom.osf_substart::after,
.osf_youtu.be.osf_substart::after,
.osf_glossary.osf_substart::after,
.osf_amazonde.osf_substart::after,
.osf_amazoncom.osf_substart::after,
.osf_video.osf_substart::after,
.osf_esaint.osf_substart::after,
.osf_dlrde.osf_substart::after,
.osf_githubcom.osf_substart::after,
.osf_imdbcom.osf_substart::after,
.osf_quote.osf_substart::after,
.osf_podcast.osf_substart::after {
    margin-left: 20px;
    margin-right: -25px;
    padding-right: 0px;
}
.osf_items .osf_substart::after { content: ', ' }
.osf_items .osf_subend::after { content: ') ' }
div a:hover { text-decoration: underline }
.osf_amazon,
.osf_applecom,
.osf_flattr,
.osf_twitter,
.osf_wiki,
.osf_youtube,
.osf_youtubecom,
.osf_youtu.be,
.osf_glossary,
.osf_amazonde,
.osf_amazoncom,
.osf_video,
.osf_esaint,
.osf_dlrde,
.osf_githubcom,
.osf_imdbcom,
.osf_quote,
.osf_podcast {
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 18px;
    margin-right: 4px;
}
.osf_amazon,
.osf_applecom,
.osf_flattr,
.osf_twitter,
.osf_wiki,
.osf_youtube,
.osf_youtubecom,
.osf_glossary,
.osf_amazonde,
.osf_amazoncom,
.osf_video,
.osf_esaint,
.osf_dlrde,
.osf_githubcom,
.osf_imdbcom,
.osf_quote,
.osf_podcast { background-size: 16px 16px }
.osf_amazon,
.osf_amazonde,
.osf_amazoncom { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/amazon.png') }
.osf_flattr { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/flattr.png') }
.osf_twitter { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/twitter.png') }
.osf_wiki,
.osf_glossary { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/wiki.png') }
.osf_youtube,
.osf_youtubecom,
.osf_youtu.be,
.osf_video { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/youtube.png') }
.osf_applecom { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/apple.png') }
.osf_esaint { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/esa.png') }
.osf_dlrde { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/dlr.png') }
.osf_githubcom { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/git.png') }
.osf_imdbcom { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/imdb.png') }
.osf_quote { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/quote.png') }
.osf_podcast { background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/podcast.png') }
